html, 
body,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    background-color: var(--primary);
}


body{
    background-color: var(--primary);
}

.light{
   --primary: var(--light-white);
}
.dark{
    --primary: var(--dark-black);
}