:root{
    --dark-black: #333334;
    --dark-red: #d13449; 
    --light-grey: #9fa9ac;

    --light-white: #cccccb;
    --light-red: #d13449;
    --light-black: #605653;

    --primary: var(--light-white);

    --h1: 7.993rem;
    --h2: 5.653rem;
    --h3: 3.998rem;
    --h4: 2.827rem;
    --h5: 1.999rem;
}